In [9]:
personal_details= {'1234': {"name":"kamal","age":24}, '2345': {"name":"Bubby","age":23}, '3456': {"name":"Param","age":20}, '4567': {"name":"Sandeep","age":22}}

In [10]:
professional_details= {'1234': {"designation":"manager","salary":90000}, '2345': {"designation":"lead","salary":80000}, '3456': {"designation":"associate","salary":24000}, '4567': {"designation":"operator","salary":30000}}

In [11]:
leave_balance = {'1234': 30, '2345': 22, '3456': 10, '4567': 13}

In [12]:
id = input("enter id of employee")
salary = professional_details[id]

enter id of employee2345