In [1]:
#Dictionaries
#Operators 
#Conditional statements

In [3]:
stu_details = {'stu_id':1, 'st_name':'A', 'Region':'S'}

In [5]:
type(stu_details)

dict

In [6]:
len(stu_details)

3

In [15]:
stu_details = {'stu_id':[1,2,3,4,5], 'st_name':['A','B','C','D','E'], 'sregion':['S','W','E','E','S']}

In [8]:
stu_details

{'stu_id': [1, 2, 3, 4, 5],
 'st_name': ['A', 'B', 'C', 'D', 'E'],
 'sregion': ['S', 'W', 'E', 'E', 'S']}

In [9]:
len(stu_details)

3

In [16]:
stu_details['smarks'] = [12,13,21,11,12]

In [11]:
stu_details

{'stu_id': [1, 2, 3, 4, 5],
 'st_name': ['A', 'B', 'C', 'D', 'E'],
 'sregion': ['S', 'W', 'E', 'E', 'S'],
 'smarks': [12, 13, 21, 11, 12]}

In [12]:
stu_details['st_name']

['A', 'B', 'C', 'D', 'E']

In [13]:
stu_details.clear()

In [17]:
stu_details

{'stu_id': [1, 2, 3, 4, 5],
 'st_name': ['A', 'B', 'C', 'D', 'E'],
 'sregion': ['S', 'W', 'E', 'E', 'S'],
 'smarks': [12, 13, 21, 11, 12]}

In [18]:
a = stu_details.copy()

In [20]:
del a

In [22]:
stu_details.get('st_name')

['A', 'B', 'C', 'D', 'E']

In [23]:
stu_details['st_name']

['A', 'B', 'C', 'D', 'E']

In [24]:
stu_details.items()

dict_items([('stu_id', [1, 2, 3, 4, 5]), ('st_name', ['A', 'B', 'C', 'D', 'E']), ('sregion', ['S', 'W', 'E', 'E', 'S']), ('smarks', [12, 13, 21, 11, 12])])

In [25]:
stu_details.keys()

dict_keys(['stu_id', 'st_name', 'sregion', 'smarks'])

In [26]:
stu_details.values()

dict_values([[1, 2, 3, 4, 5], ['A', 'B', 'C', 'D', 'E'], ['S', 'W', 'E', 'E', 'S'], [12, 13, 21, 11, 12]])

In [28]:
stu_details.pop('sregion')

['S', 'W', 'E', 'E', 'S']

In [29]:
stu_details

{'stu_id': [1, 2, 3, 4, 5],
 'st_name': ['A', 'B', 'C', 'D', 'E'],
 'smarks': [12, 13, 21, 11, 12]}

In [30]:
stu_details.popitem()

('smarks', [12, 13, 21, 11, 12])

In [31]:
stu_details.popitem('stu_id')

TypeError: dict.popitem() takes no arguments (1 given)

In [32]:
stu_details.setdefault('S_Sub')

In [34]:
stu_details['S_Sub'] = ['Py','R','Tab','Py','Py']

In [35]:
stu_details

{'stu_id': [1, 2, 3, 4, 5],
 'st_name': ['A', 'B', 'C', 'D', 'E'],
 'S_Sub': ['Py', 'R', 'Tab', 'Py', 'Py']}

In [36]:
dict1 = {1:2,3:4,5:6}
dict2 = {1:10, 7:8,11:12}

In [37]:
dict1.update(dict2)

In [38]:
dict1

{1: 10, 3: 4, 5: 6, 7: 8, 11: 12}

In [39]:
stu_details

{'stu_id': [1, 2, 3, 4, 5],
 'st_name': ['A', 'B', 'C', 'D', 'E'],
 'S_Sub': ['Py', 'R', 'Tab', 'Py', 'Py']}

In [40]:
import pandas as pd
pd.DataFrame(stu_details)

   stu_id st_name S_Sub
0       1       A    Py
1       2       B     R
2       3       C   Tab
3       4       D    Py
4       5       E    Py

In [41]:
#Operators in Python 
    #Arithmatic 
    #Relational or Comparison 
    #Equality
    #Assignment
    #Ternary
    #Special

In [42]:
#Arithmatic 
    #+ - Addition 
    #- - Subtraction 
    #* - Multiplication 
    #/ - Division 
    #% - Modulo
    #// - Floor Division
    #** - Power

In [47]:
a = 10
b = 3 
print('a+b:', a+b)
print('a-b:', a-b)
print('a*b:', a*b)
print('a/b:', a/b)
print('a%b:', a%b)
print('a//b:', a//b)
print('a**b:', a**b)

a+b: 13
a-b: 7
a*b: 30
a/b: 3.3333333333333335
a%b: 1
a//b: 3
a**b: 1000

In [52]:
a = 10 
b = 20 
print('a>b:',a>b)
print('a>=b:',a>=b)
print('a<b:',a<b)
print('a<=b:',a<=b)

a>b: False
a>=b: False
a<b: True
a<=b: True

In [59]:
#Equality 
a = 10 
b = 20 
print('a==b:', a==b)
print('a!=b:', a!=b)

a==b: False
a!=b: True

In [54]:
a

20

In [62]:
10 == int('10')

True

In [63]:
x = 30 if 10>20 else 40
x

40

In [64]:
a = 7
b = 4
c = 5
x = a if a>b>c else b if b>c else c
x

5

In [67]:
#Assignment operator
#+=
#-=
#*=
#/=
x = 10 
x += 20
x-=50
x

-20

In [68]:
#Special Operators
    #Identity Operator
        #is 
        #is not
    #Membership Operator
        #in 
        #not in
ages = [12,21,11,21]
ages1 = ages

In [69]:
print(id(ages))
print(id(ages1))

2797831733952
2797831733952

In [70]:
ages is ages1

True

In [71]:
ages2 = ages.copy()

In [72]:
id(ages2)

2797831733376

In [74]:
ages is not ages2

True

In [76]:
12 in ages

True

In [79]:
22 not in ages

True

In [80]:
#Flow Control

In [98]:
marks = int(input('Enter the marks: '))
if marks<=35:
    print('You failed the exam')
else:
    print('You passed the exam')

Enter the marks: 20
You failed the exam

In [94]:
marks = input('Enter the marks: ')

Enter the marks: 10.5

In [95]:
type(marks)

str

In [96]:
marks

'10.5'

In [106]:
marks = int(input('Enter the marks: '))
if marks<35:
    print('You are failing the exam')
elif marks>=35 and marks<=50:
    print('You got avg marks')
else:
    print('You got excellent marks')

Enter the marks: 32
You are failing the exam

In [108]:
number = int(input('Enter the number: '))
if number%2==0:
    print('The number is an even number')
else:
    print('The number is an odd number')

Enter the number: 5
The number is an odd number

In [111]:
#For Loop

sales = [3233,2323,1231,2132]
for i in sales: 
    print(i*0.1)

323.3
232.3
123.10000000000001
213.20000000000002

In [113]:
names = ['A','B','C','D','E']
for i in names: 
    print(i)

A
B
C
D
E

In [114]:
sales = [4322,1322,3322,1322]
profit = [432,123,322,233]

In [115]:
for i in [0,1,2,3]:
    print(profit[i]/sales[i])

0.0999537251272559
0.09304084720121028
0.09692956050571945
0.1762481089258699

In [116]:
list(range(0,4))

[0, 1, 2, 3]

In [117]:
for i in range(0,4):
    print(profit[i]/sales[i])

0.0999537251272559
0.09304084720121028
0.09692956050571945
0.1762481089258699

In [119]:
for i in range(0,len(sales)):
    print((profit[i]/sales[i])*100)

9.99537251272559
9.304084720121027
9.692956050571945
17.62481089258699

In [121]:
coupouns = 5
utilized = 0 

while utilized<=coupouns:
    print('The total coupouns left are: ', coupouns-utilized)
    utilized=utilized+1

The total coupouns left are:  5
The total coupouns left are:  4
The total coupouns left are:  3
The total coupouns left are:  2
The total coupouns left are:  1
The total coupouns left are:  0

In [125]:
coupouns = 5
utilized = 0

while utilized<coupouns:
    print('The total coupouns left are: ', coupouns-utilized)
    utilized=utilized+1
print('No coupouns left')

The total coupouns left are:  5
The total coupouns left are:  4
The total coupouns left are:  3
The total coupouns left are:  2
The total coupouns left are:  1
No coupouns left

In [132]:
#Factorial of a number
number = int(input('Enter the number to calculate the factorial: '))
if number<0:
    print('There is no factorial of the negative number')
else: 
    result = 1 
    while number>=1: 
        result = result*number
        number = number-1 
    print(result)

Enter the number to calculate the factorial: -5
There is no factorial of the negative number

In [139]:
#Functions
def celtofer(c):
    f = (c*9/5)+32
    print(f)

In [141]:
celtofer(10)

50.0

In [138]:
c

5

In [142]:
def calc(a,b):
    print(a+b)

In [144]:
calc(10,20)

30

In [145]:
def factorial(number):
    if number<0:
        print('There is no factorial of the negative number')
    else: 
        result = 1 
        while number>=1: 
            result = result*number
            number = number-1 
        print(result)

In [148]:
factorial(0)

1

In [150]:
list1 = [1,2,3,4,5,6,7,8,9,10,0,-1,-2,-3,-4,-5,-6,-7,-8,-9,-10]

In [151]:
for i in list1:
    factorial(i)

1
2
6
24
120
720
5040
40320
362880
3628800
1
There is no factorial of the negative number
There is no factorial of the negative number
There is no factorial of the negative number
There is no factorial of the negative number
There is no factorial of the negative number
There is no factorial of the negative number
There is no factorial of the negative number
There is no factorial of the negative number
There is no factorial of the negative number
There is no factorial of the negative number